@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Italianno&family=Pathway+Gothic+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




a, a:hover{
    text-decoration: none;

}

nav{
    background-color: #fffaf1;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    /* height: 70px; */
}
nav a{
    color: black;
}

nav a:hover{
    background-color: #da7729;
    color: white;
    
    
}

.logo img{
    width: 80px;
    margin-right: 10px;
    height: 70px;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}


.logo a:hover{
    background-color: #fffaf1;
    color: black;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 20px 20px;
    font-size: 20px;
}


.toggle{
    font-size: 30px;
    display: none;
}

.main-sec{
    padding: 100px;
    background-color: #fffaf1;
    display: flex;
    align-items: center;
}
.main-text{
  font-family: cinzel, sans-serif;
  font-size: 5vh;
 
}

.main-img img{
   display: rela;
}

@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display: block;
    
    }
    .toggle{
        position: absolute;
        top: 20px;
        right: 20px;
    }
        
    
}






    