@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

@font-face {
  font-family: Futura;
  src: url("../resources/fonts/futura/Futura\ Book\ font.ttf");
}

:root {
  --color-primary: #fff6e9;
  --color-secondary: #101411;
  --color-accent: #1b3d2f;
}

.cinzel {
  font-family: "Cinzel Decorative", serif;
}

.futura {
  font-family: "Futura", serif;
}

.bold {
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

nav {
  background-color: var(--color-primary);
  padding: 5px 3rem;
  display: flex;
  align-items: center;
  height: 12vh;
  border-bottom: 1px solid var(--color-secondary);
}
nav a {
  color: var(--color-secondary);
}

nav a:hover {
  text-decoration: underline;
}

.logo img {
  width: 85px;
  margin-right: 10px;
  height: 85px;
}

.logo {
  flex: 1;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 20px 20px;
  font-size: 16px;
}

.toggle {
  font-size: 30px;
  display: none;
}

.main-sec {
  padding: 100px;
  background-color: #fffaf1;
  display: flex;
  align-items: center;
}
.main-text {
  font-family: cinzel, sans-serif;
  font-size: 5vh;
}



@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }

  .menu {
    margin-top: 15px;
    display: none;
  }
  .menu.active,
  .toggle {
    display: block;
  }
  .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
