.formcontainer {
	padding-top: 10vh;
	background-color: var(--color-background);
}

form h1 {
	font-size: 72px;
}

h1 {
	font-family: Cinzel, sans-serif;
	font-weight: 400;
}

.forminput {
	display: grid;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 4vh;
	row-gap: 1vh;
}

label {
	color: var(--color-secondary);
	font-family: Futura;
	font-size: 1rem;
}

input {
	background-color: #ffffff00;
}

input:not([type='button']) {
	border: var(--color-secondary) 1px solid;
	padding: 1vh 0.5vw;
	width: 40vw;
}

input[type='button'] {
	margin-top: 4vh;
	padding-left: 6vw;
	padding-right: 6vw;
}

.buttongroup {
	margin-top: 12vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 16rem 16rem;
	column-gap: 6vw;
}

.registersec,
.contactsec {
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8vh 0;
}

/* Form for mobile screens */
@media (max-width: 600px) {
	.formcontainer {
		padding-top: 2vh;
		margin: 0 2rem;
	}

	.forminput {
		margin-top: 3vh;
	}

	input:not([type='button']) {
		width: 80vw;
		padding: 1vh 1vw;
	}

	input[type='button'] {
		padding-left: 25vw;
		padding-right: 25vw;
	}

	.registersec {
		padding: 4vh 4vw;
	}

	.registersec h1 {
		text-align: center;
		font-size: 3rem;
		margin-top: 0;
	}

	.buttongroup {
		margin-top: 8vh;
		grid-template-columns: 10rem 10rem;
		color-scheme: 8rem;
	}
}

h4 {
	font-size: 1rem;
	font-family: Futura-MD, sans-serif;
	font-weight: 300;
}

h5 {
	font-size: 1rem;
	font-family: Futura-MD, sans-serif;
	font-weight: 200;
}

.registersec p {
	font-family: Futura, sans-serif;
}

.inputcontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}
